@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  background-color: #F6F8FF;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  overflow-x: hidden; 
}

body::-webkit-scrollbar {
  display: none;
}
